
@{
    ViewData["Title"] = "Current Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
	<head>
		<!-- General CSS Link -->
		<link rel="stylesheet" href= "~/css/General_CSS.css">

		<!-- Meta tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="googlebot" content="index, follow"/>
		<meta name="description" content="Sayim Khan's personal website homepage, contains all of his software developer information, projects, CV and contact information such as LinkedIn, GitHub, etc"/>
	</head>
	
	<body>	
		<!-- Page -->
		<canvas id="background"></canvas>

		<div class="container" id="one">
			<div class="row">
				<div class="col">
					<h3 class= "bright_white_font">Current Projects</h3>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md" id="opening" align="center">
					<p><strong>Here are all of the current projects that I am working on in my personal time</strong>, either as a exercise to increase my proficiency in a specific language/technology
					or it is something that I wanted to build.<br/> Information such as what language, technology, brief description and if available, images, will be displayed with the project entry.</p>
				</div>
			</div>
			
			<br/>
			<hr id="past_proj_split">
			
			<div class="row">
				<div class="col" id="proj_1_title">
					<h4 class= "bright_white_font">Personal Web Project</h4>
				</div>
			</div>
			
			<div class="row" id="current_details">
				<div class="col-md-7">
					<p><br/><strong class= "bright_white_font">What is it?</strong><br/>
						This project is my own personal website, it will be all about me!. It will act like my own online portfolio of projects i've done in the past and present, as well as an online
						broken down version of my CV. This is an a permanent ongoing project as I plan to slowly add more features as I build my skills and knowledge, such as a small blog, my own 
						web login for updating the site from the front end (so I don't have to hard-code things.), maybe a database for more dynamic data fetching. <br/>
						This site will act as a kind of reflection of myself and my skills.
					 </p>
				</div>
			
			<div class="col-sm-5" id="proj_1_info_panel">
				<p><strong class= "bright_white_font">Project Name:</strong> Personal Web Project <br/>
				 	<strong class= "bright_white_font">Type:</strong> Website/Web Development <br/>
					<strong class= "bright_white_font">Languages:</strong> Java, HTML, CSS, Javascript <br/>
					<strong class= "bright_white_font">Technologies:</strong> Bootstrap, Amazon Web Services (AWS) <br/>
					<strong class= "bright_white_font">Status:</strong> Ongoing (permanent) <br/>
				</p>
			</div>
		</div>
		
		<br/>
		<hr id="past_proj_split">
		
		<div class="row">
			<div class="col" id="proj_2_title">
				<h4 class= "bright_white_font">Multi Manager</h4>
			</div>
		</div>
		
		<div class="row" id="current_details">
			<div class="col-md-7">
				<p><br/><strong class= "bright_white_font">What is it?</strong><br/>
					Multi Manager is my own personal take on multi-monitor management software. This project stemmed personal requirement, as I can't find any decent free solutions, but
					also the desire to learn now to create C++ windows system applications.
					</p>
			</div>
		
			<div class="col-sm-5" id="proj_1_info_panel">
				<p><strong class= "bright_white_font">Project Name:</strong> Multi Manager <br/>
				 	<strong class= "bright_white_font">Type:</strong> Windows Application <br/>
					<strong class= "bright_white_font">Languages:</strong> C++ <br/>
					<strong class= "bright_white_font">Technologies:</strong> Qt Framework <br/>
					<strong class= "bright_white_font">Status:</strong> Ongoing <br/>
				</p>
			</div>
		</div>
	</div>
	
	<br/>



	</body>
</html>

