
@{
    ViewData["Title"] = "CV Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
	<head>
		<!-- General CSS Link -->
		<link rel="stylesheet" href= "~/css/General_CSS.css">

		<!-- Meta tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="googlebot" content="index, follow"/>
		<meta name="description" content="Sayim Khan's personal website homepage, contains all of his software developer information, projects, CV and contact information such as LinkedIn, GitHub, etc"/>
	</head>
	
	<body>	
		<!-- Page -->
		<canvas id="background"></canvas>
		
		<br/><br/>
		<div class="container" id="CardsBG">
			<canvas id="CardsPastCan"></canvas>
			<h1 id="cardPastTitle"><a href="/home/work_experience">Past Work Experience</a></h1>
			<p id="cardPastSubText">A quick breakdown of all my past jobs and experiences</p>
			<img id="cardPastIcon" alt="employee by Freepik" src="/Images/icons/CV_Landing/employee/employee.png">
		</div>
		
		<br/><br/>
		
		<div class="container" id="CardsBG">
			<canvas id="CardsSkillCan"></canvas>
			<h1 id="cardSkillTitle"><a href="/home/skills">Skills</a></h1>
			<p id="cardSkillSubText">Summary and other information on all my software Skills</p>
			<img id="cardSkillIcon" alt="skills by Srip" src="/Images/icons/CV_Landing/skills/skills.png">	
		</div>
		
		<br/><br/>
		
		<div class="container" id="CardsBG">
			<canvas id="CardsHobbiesCan"></canvas>
			<h1 id="cardHobbiesTitle"><a href="/home/hobbies">Hobbies</a></h1>
			<p id="cardHobbiesSubText">Brief information on my hobbies, insight into what kind of person I am</p>
			<img id="cardHobbiesIcon" alt="ps4 by Freepik" src="/Images/icons/CV_Landing/ps4/ps4.png">
		</div>
		
		<br/><br/>
		
	</body>
</html>


