@{
    ViewData["Title"] = "Experimental";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
	<head>
		<!-- General CSS Link -->
		<link rel="stylesheet" href= "~/css/General_CSS.css">

		<!-- Meta tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="googlebot" content="index, follow"/>
		<meta name="description" content="Sayim Khan's personal website homepage, contains all of his software developer information, projects, CV and contact information such as LinkedIn, GitHub, etc"/>
	</head>
	
	<body>	
		<!-- Page -->
		<canvas id="background"></canvas>
		
		<div class="container" id="one">
			<br/>
			<h2>Experimental</h2>

			<div id="root"></div>
 
 
			<script src="~/js/reactJS/index.js"></script>
			<script src="~/js/reactJS/Header.js"></script>

		</div>


	</body>
</html>
