
@{
    ViewData["Title"] = "skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
	<head>
		<!-- General CSS Link -->
		<link rel="stylesheet" href= "~/css/General_CSS.css">

		<!-- Meta tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="googlebot" content="index, follow"/>
		<meta name="description" content="Sayim Khan's personal website homepage, contains all of his software developer information, projects, CV and contact information such as LinkedIn, GitHub, etc"/>
	</head>
	
	<body>	
		<!-- Page -->
		<canvas id="background"></canvas>
		
				<div class="container" id="one">
			<div class="row">
				<div class= "col">
					<h3 class="bright_white_font">Skills</h3>				
				</div>		
			</div>
			
			<div class="row">
				<div class="col-md" id="opening" align="center">
					<h5>All my software developement skill will be displayed on this page, it includes, skills I've learn't, experienced and has exposure to. <br/>
					A ranking of my best skills are also displayed on this page including my background with those skills.</h5>
					
				</div>
			</div>
			
			<br/>
			<hr id="past_proj_split">
			
			<div class="row">
				<div class= "col" id="all_Lang_Title">
					<h5 class="bright_white_font">All Languages and Platforms:</h5>				
				</div>		
			</div>
			
			<div class="row" id="skills_Lang_List">
				<div class="col-sm">
					<h6 class="bright_white_font">Exposed Languages:</h6>
					<ul>
						<li>Java</li>
						<li>C++</li>
						<li>C#</li>
						<li>Haskell</li>
						<li>Prolog</li>
						<li>XML</li>
						<li>HTML</li>
						<li>Javacript</li>
						<li>Typescript</li>
						<li>JQuery</li>
						<li>SQL</li>
						<li>CSS</li>
						<li>PHP</li>	
					</ul>
				</div>
				
				<div class="col-sm">
					<h6 class="bright_white_font">Exposed IDE/Platforms:</h6>
					<ul>
						<li>Unity Engine</li>
						<li>Unreal Engine</li>
						<li>Visual Studio/Code</li>
						<li>Eclipse</li>
						<li>GitHub</li>
						<li>Amazon Web Services</li>
					</ul>

					<ul>
						<li>Maven</li>
						<li>Gradle</li>
						<li>SpringMVC</li>
						<li>Bootstrap</li>
						<li>Cucumber</li>
					</ul>
				</div>
			</div>
			
			<br/>
			<hr id="past_proj_split">
			
			<div class="row">
			<!-- Language skill ranking -->
				<div class="col-md " id="preferences" >
					<h5 class="bright_white_font">Language Preferences:</h5>
					<p>These are the languages that I prefer to use or have knowledge to efficiently program in</p>
					<p><strong class="bright_white_font">1: Java - 4/5 years - </strong>This is the language that I am most comfortable with as this is the language I have the most skill with, it is also the first language 
					that I started to learn at the beginning of my 4 year Computer Science course.</p>
					<p><strong class="bright_white_font">2: C# - 2/3 years - </strong>This is my second strongest language as I used my Java knowledge and self-taught it during my BSc and MComp personal projects, there are
					still a few concepts of the language that I need to touch on still such as Lambda expressions, but I am pretty proficient in the language. </p>
					<p><strong class="bright_white_font">3: C++ - 1/2 years - </strong>I can for the most part program in this language with a little time, due to not using it as often as #1 and #2, but not a fan because I just prefer garbage collected languages as I can 
					leave the collector to handle the memory allocations and etc, though a plus for the language is that it can use multiple inheritance and that is pretty useful.</p>
					<p><strong class="bright_white_font">4: Web Development - 1/2 years -</strong> I have a moderate amount of knowledge in this area, during my university days I have used java's web dev side of things, spring MVC, bootstrap
					as well as some NoSql for the database side of things. I've also used Javascript, HTML and some JQuery as well. I have enough knowledge to built this very basic website using Java, HTML, CSS and some Javascript. As I continue to slowly
					improve the website with other technologies that I might have picked up along the way.
					<br/>
				</div>
			</div>
		</div>
		<br/>
	</body>
</html>
