
@{
    ViewData["Title"] = "Past Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
	<head>
		<!-- General CSS Link -->
		<link rel="stylesheet" href= "~/css/General_CSS.css">

		<!-- Meta tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="googlebot" content="index, follow"/>
		<meta name="description" content="Sayim Khan's personal website homepage, contains all of his software developer information, projects, CV and contact information such as LinkedIn, GitHub, etc"/>
	</head>
	
	<body>	
		<!-- Page -->
		<canvas id="background"></canvas>
		
		<div class="container" id="one">
			<div class="row">
				<div class= "col">
					<h3 class="bright_white_font">Past work history/experience</h3>		

				</div>		
			</div>
			
			<div class="row">
				<div class="col-md" id="opening" align="center">
					<h5>This section is all about my current or past work history, each entry will contain information such as role, duties and who the company was.</h5>
					
				</div>
			</div>
			
			<br/>
			<hr id="past_proj_split">
			
			<div class="row">
				<div class="col-md-6" id="history_1_cex_details">
					<h4 class="bright_white_font">Complete Entertainment eXchange (CEX)</h4>
					<br>
					<h5><strong class="bright_white_font">Sales Assistant/Product Tester</strong>: Aug 2018 - May 2021</h5>
					<h5 class="bright_white_font" id="p_subtitle_indent"><strong>Duties</strong></h5>
					<p id="para_Indent">- Electronics functionality testing (before exchange)
					<br>- Fulfilling store E-commerce orders (picking, processing, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;packing) 
					<br>- Providing technical support/troubleshooting for staff &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;members and customers
					<br>- Electronic device demonstrations for customers</p>
				</div>
				
				<div class="col-sm" align="right" id="cex_logo_col">
					<img src="/Images/logos/cex_logo.png" class="img-fluid" id="cexLogo" alt="Responsive image">
				</div>
			</div>
		
			<br/>
			<hr id="past_proj_split">
			
			<div class="row">
				<div class="col-md-6" id="history_1_cex_details">
					<h4 class="bright_white_font">Content Guru</h4>
					<br>
					<h5><strong class="bright_white_font">Support Engineer</strong>: April 2021 - Current</h5>
					<h5 class="bright_white_font" id="p_subtitle_indent"><strong>Duties</strong></h5>
					<p id="para_Indent">- Receive customer service calls.
					<br>- Responding to customer service emails.
					<br>- Log support tickets for reported issues with service.
					<br>- Take ownership of tickets and investigate/resolve root cause.
					<br>- Prioritising and categorising faults promptly.
					<br>- Communicate and follow up on customer issues with other &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;divisions (Sales, Application Development, Provisioning)
					<br>- Resolve customer queries or information requests.
					<br>- Investigating server logs, service web portals, service &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;documentation, etc to identify root cause and resolve.
					<br>- Use SQL to investigate DB data related issues/queries.
					<br>- Ticket closure report and emails.</p>
				</div>
				
				<div class="col-sm" align="right" id="CG_logo_col" >
					<img src="/Images/logos/Content_Guru_Logo.png" class="img-fluid" id="CGLogo" alt="Responsive image">
				</div>
			</div>
			<br/>
		</div>
		<br/>
	</body>
</html>

